@import "bootstrap-override";

.file-record {
  border-bottom: 1px solid $light-gray;
}

.file-record.row {
  align-items: center;
}

.star {
  scale: 1.7;
  color: white;
  margin-right: 1vw;
}

.btn-icon {
  background: none !important;
  border: none !important;
}

.download {
  scale: 1.7;
  color: white;
  margin-right: 1vw;
}

.yellow {
  color: yellow;
}

.file-record.file-record-headline.row {
  margin-top: 1.5rem;
  vertical-align: center;
}

.file-thumbnail {
  width: 3rem;
  height: 3rem;
}

.file-thumbnail > img {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.file-info {
  width: 1rem;
}

.record-list {
  min-height: 93vh;
}
